<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <div class="icon">
        <a href="{{ site.github }}" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:{{ site.author.email }}" title="email"><i class="fas fa-envelope"></i></a>
    </div>
    
    <ul>
      <!-- <li><a href="{{ site.baseurl }}/about">About</a></li> -->
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
    </ul>
  </div>
</nav>
