.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 3.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    // border-top: 0.1rem solid #e5e5e5;;
    display: block;
    margin: 0 auto 3rem;
    width: 9rem;
  } 
  
  a:hover {
    text-decoration: underline;
  }

  &-tags {
    display: block;
    text-align: center;
    a {
      border-radius: 0.3em;
    border: 1px solid;
    display: inline-block;
    margin: 0.3em 0;
    padding: 0.5em 0.75em;
    font-size: 0.8em;

    &:hover,
    &:focus {
      @include transition(all .3s);
      background: $a-color;
      color: #ffffff;
      text-decoration: initial;
    }
    }
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

 

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}

.support-browser {
  border-collapse: collapse;
  text-align: center;
  width:100%;
  border: 1px solid black;

  th{
    border: 1px solid black;
    width:20%;
    height:2em;
    font-size: 2em;
  }

  td {
    border: 1px solid black;
    width:20%;
    height:1.5em;
    background:#f1f1f1;
  }
}
