---
layout: default
comments: true
---

<div class="post">
  
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-tags">
    {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags#{{tag}}">{{tag}}</a>
    {% endfor %}
  </div>
  <div class="post-line"></div>

  {{ content }}

</div>

{% if site.disqus_shortname %}
  {% if page.hideComments != true %}
    {% include disqus.html %}             
  {% endif %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;  <span>{{page.next.title | truncate: 25 }}</span></a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow"><span>{{page.previous.title | truncate: 25 }}</span> &#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
